extends ../layout/main

block append variables
    - const pageTitle = "Ипотека";
    //- const prevPage = {href: '', text: ''};
    //- const pageTitle_OFF = true;

block content
    section
        include ../blocks/breadcrumbs
        .hypothec-info
            .container
                .hypothec__text 
                    .content 
                        p Ипотека — это залог недвижимости. То есть ипотечный кредит означает, что вы берете у банка деньги под процент (кредит), а гарантией того, что вы вернете эти деньги, становится залог вашего недвижимого имущества: дома, квартиры, земельного участка.
                        p Рассчитайте ипотеку онлайн с помощью ипотечного калькулятора. Сервис поможет узнать размер ежемесячных платежей, сумму переплаты по банковским процентам и оценить размер экономии за счет досрочного погашения.

                        h4 Ипотека для семьи с ребёнком — «Семейная ипотека»

                        p Подойдет для семей, где хотя бы один ребёнок родился после 2018 года включительно или есть ребёнок с инвалидностью. Также с января 2023 года действие программы распространяется на семьи с двумя и более детьми до 18 лет, при этом сроки их рождения не имеют значения.
                        P Есть возможность внести материнский капитал в качестве первоначального взноса.
                        ul
                            li Годовая ставка от 5,7%
                            li Сумма кредита: до 6 млн
                            li Первый взнос: от 20%
                            li Срок кредита: до 30 лет
