// переменные цвета, шрифтов и др.
$font: 'Akrobat', sans-serif;
$fontTitle: 'Pobeda', sans-serif;

$black: #353B40;
$black-light: #474E54;
$grey-dark: #898989;
$grey-medium: #C3C3C3;
$grey-light: #EAEAEA;
$grey-lightest: #F5F5F5;
$grey-lightest-hover: #FAFAFA;

$yellow: #FECD0A;
$yellow-light: #FFD739;
$alert: #EC4700;
$success: #6FD64B;
$focus: #6E9BDE;
$time: 0.5s;

$containerWidth: 1440px;
$headerHeight: 120px;
$headerHeightM: 80px;
$headerHeightS: 60px;

$menuAsideWidth: 68px;
$menuAsideWidthS: 50px;