// Аккордеон
.accordion{
    display: flex;
    flex-direction: column;
    gap: 32px;
    &__question{
        cursor: pointer;
        padding-right: 80px;
        position: relative;
        font-size: 40px;
        text-transform: uppercase;
        font-family: $fontTitle;
        transition: color $time;
        line-height: 1;
        span{
            display: inline-block;
            width: 40px;
            height: 40px;
            pointer-events: none;
            position: absolute;
            right: 0;
            top: 0;
            transition: border-color 0.5s;
            &:before,
            &:after{
                content: "";
                width: 18px;
                height: 1px;
                background-color: white;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                margin: auto;
                transition: all $time;
            }
            &:after{
                transform: rotate(90deg);
            }
        }
        &.active span:after{
            transform: rotate(180deg);
        }
        &.active + .accordion__answer{
            height: auto;
        }
        @media (hover: hover) {
            &:hover{
                color: $yellow;
                span::before, span::after{
                    background-color: $yellow;
                }
            }
        }
    }
    &__answer{
        height: 0;
        transition: height $time ease;
        overflow: hidden;
    }
    &__inner{
        padding-top: 16px;
        font-weight: 500;
        ul li::before{
            background-color:$yellow;
        }
    }
}